table,
tr,
th,
td {
    border: 1px solid slateblue;
}

body {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(skyblue, hotpink);
}

img {
    opacity: 0.8;
}

.center {
    text-align: center;
}

#purple-color {
    color: darkorchid;
}

img {
    border-color: coral;
    border-style: solid;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

li a:hover {
    background-color: whitesmoke
}

.font1 {
    font-family: puffin-arcade-level, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}

.font2 {
    font-family: puffin-arcade-nerf, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}

.font3 {
    font-family: puffin-arcade-chrome, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}