button.ripple {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(231, 236, 239);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: rubrik-new, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: rgb(94, 97, 99);
    text-align: center;
    transition: all 0.2s;
}

button.ripple:hover {
    color: #000000;
    background: none;
    background-color: transparent;
    text-decoration: none;
}

button.ripple:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.full {
    display: flex;
    height: 100vh;
}

.center {
    justify-content: center;
}

.half {
    margin-top: 35vh;
    text-align: center;
}

.quarter {
    margin-top: 20vh;
    text-align: center;
}

.logo {
    font-family: rubrik-new;
    font-weight: 200;
    font-size: 80px;
    display: inline;
}

.gallery {
    margin: 5px;
    float: left;
    width: 300px;
    text-align: center;
}

.iformat {
    width: 300px;
}

.shift {
    margin-right: 50%;
}

button.margin-right {
    margin-right: 75px;
}

body {
    font-family: rubrik-new;
    font-weight: 200;
}

.noscroll {
    overflow: hidden;
}

.css-selector {
    background: linear-gradient(270deg, #274c77, #a3cef1, #8b8c89);
    background-size: 600% 600%;
    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
}

.carousel-item {
    height: 65vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

.colordiv {
    background-color: rgba(231, 236, 239, 0.39);
}

button.homebutton {
    display: inline-block;
    padding: 0.15em 0.6em;
    border: 0.1em solid rgb(231, 236, 239);
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: rubrik-new, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: rgb(94, 97, 99);
    text-align: center;
    transition: all 0.2s;
    margin-top: 25px;
    margin-left: 25px;
}

button.homebutton:hover {
    color: #000000;
    background: none;
    background-color: transparent;
    text-decoration: none;
}

button.homebutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}